<div><a 
class="button-as-link button-external-link inline-button md-button md-primoExplore-theme" 
id="link_to_blank_ill_request" aria-label="{{::('nui.customization.linkToBlankIllRequest.aria_label' | translate)}}" 
title="{{::('nui.customization.linkToBlankIllRequest.aria_label' | translate)}}"
ng-if="::($ctrl.showLink)"
    ng-click="goToBlankIllRequest()">
        <span translate="nui.customization.linkToBlankIllRequest.title">Blank ILL Request</span>
</a>
<span style="padding:0 5px" class="link_seperator" ng-if="::($ctrl.showLink && $ctrl.showLink2)">|</span>
<a 
class="button-as-link button-external-link inline-button md-button md-primoExplore-theme" 
id="link_to_blank_ill_request" aria-label="{{::('nui.customization.linkToBlankIllRequest.aria_label_contact' | translate)}}" 
title="{{::('nui.customization.linkToBlankIllRequest.aria_label_contact' | translate)}}"
ng-if="::($ctrl.showLink2)"
    href="https://bib.kuleuven.be/" target="_blank">
        <span translate="nui.customization.linkToBlankIllRequest.title_contact">Have a have question regarding loans or requests? Contact the library</span>
</a>
</div>
