
prm-brief-result {
    font-size: 12px;
}

prm-brief-result h3 {
    font-size: 15px;
}
prm-service-details {
    font-size: 14px;
}

prm-search-result-availability-line,
prm-search-result-availability-line div{
    font-size: 14px;
}


