prm-topbar  {
    height: auto;
}

prm-topbar header {
    width: 100%;
}

prm-topbar navbar__title a:hover
{
    background-color: inherit;    
    box-shadow: inherit;

}

prm-topbar > div.top-nav-bar div.navbar--local > div.container {
    display: block;
    min-height:30px;
    
}
prm-topbar > div.top-nav-bar div.navbar--local > div.container prm-search-bookmark-filter {
    width:100%;
    margin-top: -25px;
}

prm-topbar > div.top-nav-bar div.navbar--local > div.container  prm-main-menu >  nav > ul {
    margin-left:0px;
    margin-right: 0px;
}

div.search-options {
    flex: 0 0 0%;
}

prm-search-bar div.search-input > prm-autocomplete > md-autocomplete-wrap > button,
prm-search-bar div.search-input > prm-autocomplete > md-autocomplete-wrap > button:focus
{
    color:#0f7d00
}
prm-search-bar div.search-input > prm-autocomplete > md-autocomplete-wrap > button:hover {
    color:#000;
}

prm-search-bar div.search-input input#searchBar {
    border-right: 0pc;
    border-top-right-radius: 0pc;
    border-bottom-right-radius: 0pc;
}

md-content md-content, md-content.md-primoExplore-theme {
    background-color:#fff
}

.navbar{
    padding: 0;
}

.navbar--local{
    background: #fff;
    padding-top:1rem;
}

.navbar--global {
    background: #147fa1;
    border-bottom: 30px solid #fff;
}

.heading--2 a, .md-headline a{
    text-decoration: none;
} 

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 13px;
    font-family: Source Sans Pro,sans-serif;
    font-weight: 400;
    line-height: 1.15;
    color: #004070;
}

prm-topbar .md-button:not(.disable-hover):not(.close-btn-favorits-warning-message){
    color: #003d6a;
}

md-icon{
    color: #003d6a !important;
}

.simple-search-wrapper .layout-column{
    margin-bottom: 0;
}

body{
    font-size: .875rem;
}

div#footer, div#footer a {
    color: #004070;
}

div#footer {
    width: 100%;
    background-color: #fff;
    padding: 2.5rem 1em !important;
    font-size: small;
    align-items: center;
    border-top: 1px solid #004070 !important;
}

prm-search-bar .advanced-search-tabs md-input-container, prm-tags-search-bar .advanced-search-tabs md-input-container {
    padding: 0 0 1.5rem 0;
}