<md-dialog aria-label="Disclaimer">
		<md-dialog-content id="disclaimerDialog">
			<md-toolbar md-autofocus >
				<div class="md-toolbar-tools">
					<h2>Cookiebeleid Limo</h2>
					<span flex></span>
					<md-button class="md-icon-button" ng-click="closeDialog()">
						<md-icon md-svg-src="/discovery/custom/32KUL_LIBIS_NETWORK-CENTRAL_PACKAGE/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-content>
				<p>Limo gebruikt cookies die het gebruik van de zoekmachine vergemakkelijken.</p>

				<h3>WAT IS EEN COOKIE?</h3>

				<p>
					Cookies zijn kleine tekstbestanden die je voorkeuren tijdens het surfen onthouden en opslaan op je eigen computer of
					toestel.
				</p>

				<h3>COOKIEGEBRUIK IN LIMO</h3>

				<p>Limo gebruikt enkel strikt noodzakelijke cookies.</p>

				<ul>
					<li>
						Enerzijds gaat het om functionele cookies die ervoor zorgen dat bepaalde keuzes en instellingen die je een
						eerste keer hebt gekozen onthouden worden. Hierdoor kan je bij volgende bezoeken efficiënter, sneller en
						eenvoudiger zoeken in Limo. Deze cookies onthouden onder meer voorkeursinstellingen.
					</li>
					<li>Anderzijds zijn er technische cookies die noodzakelijk zijn voor de correcte werking van de toepassing.</li>
					<li>
						Voor gebruikers die aanmelden via het authenticatiesysteem van de eigen instelling kunnen loginnamen onthouden
						worden bij het aanmelden via de institutionele login.
					</li>
				</ul>

				<p>Voor een volledig overzicht, raadpleeg onderstaande tabel:</p>

				<table>
					<tr>
						<th>Cookie-naam</th>
						<th>Beschrijving</th>
					</tr>

					<tr>
						<td>_secure-[servercode]</td>

						<td>
							Een load balancer cookie is een klein stukje data dat door de load balancer van een website in je browser
							wordt
							opgeslagen. De load balancer is software die inkomend netwerkverkeer verdeelt over meerdere servers om te
							voorkomen dat
							een server overbelast wordt en om de prestaties van de website te verbeteren. De servercode kan
							variëren
							afhankelijk van de server waarop je sessie draait.
						</td>
					</tr>

					<tr>
						<td>auth</td>
						<td>
							Deze cookie is nodig voor instellingen waar gebruikers via een extern authenticatiesysteem kunnen aanmelden.
							Zonder deze
							cookies kunnen we problemen ondervinden, zoals herhaaldelijk moeten aanmelden.
						</td>
					</tr>
					<tr>
						<td>idpCode</td>
						<td>
							Deze cookies geven door welk extern authenticatiesysteem wordt gebruikt door je instelling. Ze zijn nodig voor de
							algemene
							werking van het bibliotheeksysteem. De code verwijst naar het authenticatiesysteem van je instelling.
						</td>
					</tr>
					<tr>
						<td>institute</td>
						<td>
							Deze cookies geven de code van je instelling weer. Ze zijn nodig voor de algemene werking van het
							bibliotheeksysteem.
						</td>
					</tr>
					<tr>
						<td>JSESSIONID</td>
						<td>
							Deze cookie slaat de code van de Limo-sessie op. Dit wordt gebruikt door het bibliotheeksysteem om het
							aantal sessies te
							monitoren.
						</td>
					</tr>
					<tr>
						<td>productCode</td>
						<td>
							Deze cookies zijn nodig voor de algemene werking van het bibliotheeksysteem. De code verwijst naar het type
							bibliotheeksysteem dat wordt gebruikt.
						</td>
					</tr>
					<tr>
						<td>urm_se</td>
						<td>
							Deze cookie helpt de sessie te beheren en te onderhouden terwijl je het bibliotheeksysteem gebruikt. Zonder
							deze cookies
							kunnen we problemen ondervinden, zoals verlies van sessiegegevens.
						</td>
					</tr>
				</table>

				<h3>WIJZIGEN VAN BROWSERINSTELLINGEN</h3>

				<p>
					Cookies kan je via de browserinstellingen op je computer weigeren of verwijderen. De manier waarop je dit kan doen,
					verschilt van browser tot browser. Raadpleeg indien nodig de helpfunctie van je browser.<br>
					Noot: Deze instellingen moet je steeds per browser en per computer apart instellen!
				</p>
				<ul>
					<li>
						<a href="https://support.microsoft.com/nl-nl/windows/cookies-beheren-in-microsoft-edge-weergeven-toestaan-blokkeren-verwijderen-en-gebruiken-168dab11-0753-043d-7c16-ede5947fc64d"
						   target="_blank">Cookie-instellingen in Edge</a>
					</li>
					<li>
						<a href="https://support.google.com/chrome/answer/95647?hl=nl&sjid=14493987213705953766-EU"
						   target="_blank">Cookie-instellingen in Chrome</a>
					</li>
					<li>
						<a href="https://support.mozilla.org/nl/kb/cookies-informatie-websites-computer-opgeslagen?redirectlocale=en-US&redirectslug=Cookies"
						   target="_blank">Cookie-instellingen in Firefox</a>
					</li>
					<li>
						<a href="https://support.apple.com/nl-be/guide/safari/sfri11471/mac" target="_blank">
							Cookie-instellingen in
							Safari
						</a>
					</li>
				</ul>

				<p>
					Het niet-aanvaarden, verwijderen of uitschakelen van cookies kan tot gevolg hebben dat bepaalde functionaliteiten van
					Limo niet meer toegankelijk zijn of slecht functioneren. Daardoor kan de beleving van de website tegenvallen.
				</p>

				<h3>MEER WETEN?</h3>

				<p>
					Meer info vind je onder andere op volgende websites: <a href="https://allaboutcookies.org"
																	   target="_blank">allaboutcookies.org</a> en <a href="https://www.youronlinechoices.com/be-nl/"
																									target="_blank">www.youronlinechoices.com</a>
				</p>

				<p>
					LIBIS behoudt zich het recht voor om deze cookieverklaring op ieder moment te wijzigen. De meest recente versie van
					de
					cookieverklaring vind je altijd op deze pagina.
				</p>
				<md-dialog-actions>
					<div layout="row" class="demo-dialog-button">
						<md-button class="md-primary" ng-click="closeDialog()">
							Sluiten
						</md-button>
					</div>
				</md-dialog-actions>
			</md-content>
		</md-dialog-content>
	</md-dialog>