<md-dialog aria-label="Disclaimer">
		<md-dialog-content id="disclaimerDialog">
			<md-toolbar md-autofocus >
				<div class="md-toolbar-tools">
					<h2>LIMO COOKIE POLICY</h2>
					<span flex></span>
					<md-button  class="md-icon-button" ng-click="closeDialog()">
						<md-icon md-svg-src="/discovery/custom/32KUL_LIBIS_NETWORK-CENTRAL_PACKAGE/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-content>
				<p>Limo uses cookies that facilitate the use of the search engine.</p>

				<h3>WHAT IS A COOKIE?</h3>

				<p>Cookies are small text files that remember your preferences while browsing and store them on your own computer or device.</p>

				<h3>COOKIE USE IN LIMO</h3>

				<p>Limo uses only strictly necessary cookies.</p>

				<ul>
					<li>On the one hand, functional cookies are used to ensure that certain choices and settings you have selected on your first visit are remembered. This allows you to search Limo more efficiently, quickly and easily on subsequent visits. Among other things, these cookies remember preference settings.</li>
					<li>On the other hand, technical cookies are necessary for the application to function properly.</li>
					<li>For users logging in via their own institution's authentication system, login names may be remembered when logging in via the institutional login.</li>
				</ul>

				<p>For a complete overview, see to the table below:</p>

				<table>
					<tr>
						<th>Cookie Name</th>
						<th>Description</th>
					</tr>

					<tr>
						<td>_secure-[server code]</td>

						<td>A load balancer cookie is a small piece of data stored in your browser by a website's load balancer. The load balancer is a piece of software that distributes incoming network traffic across multiple servers to prevent server overload and to improve website performance. The server code may vary depending on the server that is handling your session.</td>
					</tr>

					<tr>
						<td>auth</td>
						<td>This cookie is required for institutions that allow users to log in via an external authentication system. Without these cookies, Limo may experience problems, such as having to log in repeatedly.</td>
					</tr>
					<tr>
						<td>idpCode</td>
						<td>These cookies tell Limo which external authentication system is being used by your institution. They are necessary for the general working of the library system. The code refers to your institution's authentication system.</td>
					</tr>
					<tr>
						<td>institute</td>
						<td>These cookies display the code of your institution. They are necessary for the general working of the library system.</td>
					</tr>
					<tr>
						<td>JSESSIONID</td>
						<td>This cookie stores the Limo session code. This is used by the library system to monitor the number of sessions.</td>
					</tr>
					<tr>
						<td>productCode</td>
						<td>These cookies are necessary for the general working of the library system. The code refers to the type of library system used.</td>
					</tr>
					<tr>
						<td>urm_se</td>
						<td>This cookie helps manage and maintain the session while you use the library system. Without these cookies, Limo may experience problems, such as loss of session data.</td>
					</tr>
				</table>

				<h3>CHANGING BROWSER SETTINGS</h3>

				<p>
					You can refuse or delete cookies via the browser settings on your computer. How you can do this varies from one browser to another. Consult the help function of your browser if necessary.<br>
					Note: These settings must be set separately for each browser and computer!
				</p>
				<ul>
					<li><a href="https://support.microsoft.com/en-gb/windows/manage-cookies-in-microsoft-edge-view-allow-block-delete-and-use-168dab11-0753-043d-7c16-ede5947fc64d" target="_blank">Cookie settings in Edge</a></li>
					<li><a href="https://support.google.com/chrome/answer/95647?hl=en&sjid=8271030901371314349-EU" target="_blank">Cookie settings in Chrome</a></li>
					<li><a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&redirectslug=Cookies" target="_blank">Cookie settings in Firefox</a></li>
					<li><a href="https://support.apple.com/en-gb/guide/safari/sfri11471/mac" target="_blank">Cookie settings in Safari</a></li>
				</ul>

				<p>Refusing to accept, deleting or disabling cookies may result in certain features of Limo becoming inaccessible or working with reduced functionality. As a result, the user experience of the website may be negatively affected.</p>

				<h3>WANT TO KNOW MORE?</h3>

				<p>More info can be found on the following websites, among others: <a href="https://allaboutcookies.org" target="_blank">allaboutcookies.org</a> and <a href="https://www.youronlinechoices.com/uk/" target="_blank">www.youronlinechoices.com</a></p>

				<p>LIBIS reserves the right to change this cookie statement at any time. You can always find the most recent version of the cookie statement on this page.</p>
				<md-dialog-actions>
					<div layout="row" class="demo-dialog-button">
						<md-button class="md-primary" ng-click="closeDialog()">
							Close
						</md-button>
					</div>
				</md-dialog-actions>

			</md-content>
		</md-dialog-content>
	</md-dialog>