<md-dialog aria-label="Disclaimer">
		<md-dialog-content id="disclaimerDialog">
			<md-toolbar md-autofocus>
				<div class="md-toolbar-tools">
					<h2>POLITIQUE DE LIMO EN MATIÈRE DE COOKIES</h2>
					<span flex></span>
					<md-button class="md-icon-button" ng-click="closeDialog()">
						<md-icon md-svg-src="/discovery/custom/32KUL_LIBIS_NETWORK-CENTRAL_PACKAGE/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-content>
				<p>Limo utilise des cookies pour faciliter l'utilisation du moteur de recherche.</p>

				<h3>QU'EST-CE QU'UN COOKIE ?</h3>

				<p>Les cookies sont de petits fichiers texte qui mémorisent vos préférences de navigation et les stockent sur votre ordinateur ou votre appareil.</p>

				<h3>UTILISATION DE COOKIES DANS LIMO</h3>

				<p>Limo utilise uniquement des cookies strictement nécessaires.</p>

				<ul>
					<li>D'une part, des cookies fonctionnels sont utilisés pour garantir que certains choix et paramètres que vous avez sélectionnés lors de votre première visite soient mémorisés. Cela vous permet d'effectuer des recherches plus efficaces, rapides et faciles sur Limo lors de vos visites ultérieures. Ces cookies mémorisent notamment vos paramètres de préférence.</li>
					<li>D'autre part, des cookies techniques sont nécessaires au bon fonctionnement de l'application.</li>
					<li>Pour les utilisateurs qui se connectent via le système d'authentification de leur propre institution, les noms d'utilisateur peuvent être mémorisés lors de la connexion via le système d'authentification institutionnel.</li>
				</ul>

				<p>Pour un aperçu complet, consultez le tableau ci-dessous :</p>

				<table>
					<tr>
						<th>Nom du cookie</th>
						<th>Description</th>
					</tr>

					<tr>
						<td>_secure-[code serveur]</td>

						<td>Un cookie d'équilibrage de charge est un petit fichier stocké dans votre navigateur par le système d'équilibrage de charge d'un site Web. Le système d'équilibrage de charge est un logiciel qui répartit le trafic réseau entre plusieurs serveurs afin d'éviter la surcharge de serveurs et d'améliorer la performance du site Web. Le code de serveur peut varier en fonction du serveur qui gère votre session.</td>
					</tr>

					<tr>
						<td>auth</td>
						<td>Ce cookie est nécessaire pour les institutions qui permettent aux utilisateurs de se connecter via un système d'authentification externe. Sans ces cookies, Limo peut rencontrer des problèmes, tels que des requêtes de se connecter à plusieurs reprises.</td>
					</tr>
					<tr>
						<td>idpCode</td>
						<td>Ces cookies indiquent à Limo quel système d'authentification externe est utilisé par votre institution. Ils sont nécessaires au fonctionnement général du système de bibliothèque. Le code fait référence au système d'authentification de votre institution.</td>
					</tr>
					<tr>
						<td>institute</td>
						<td>Ces cookies affichent le code de votre institution. Ils sont nécessaires au fonctionnement général du système de bibliothèque.</td>
					</tr>
					<tr>
						<td>JSESSIONID</td>
						<td>Ce cookie stocke le code de session Limo. Il est utilisé par le système de bibliothèque pour surveiller le nombre de sessions.</td>
					</tr>
					<tr>
						<td>productCode</td>
						<td>Ces cookies sont nécessaires au fonctionnement général du système de bibliothèque. Le code fait référence au type de système de bibliothèque utilisé.</td>
					</tr>
					<tr>
						<td>urm_se</td>
						<td>Ce cookie permet de gérer et de maintenir la session pendant que vous utilisez le système de bibliothèque. Sans ces cookies, Limo peut rencontrer des problèmes, tels que l'oubli de données de session.</td>
					</tr>
				</table>

				<h3>MODIFICATION DES PARAMÈTRES DU NAVIGATEUR</h3>

				<p>
					Vous pouvez refuser ou supprimer les cookies via les paramètres du navigateur de votre ordinateur. La procédure varie d'un navigateur à l'autre. Consultez la fonction d'aide de votre navigateur si nécessaire.<br>
					Remarque : ces paramètres doivent être définis séparément pour chaque navigateur et chaque ordinateur !</p>
				<ul>
					<li><a href="https://support.microsoft.com/fr-fr/windows/g%C3%A9rer-les-cookies-dans-microsoft-edge-afficher-autoriser-bloquer-supprimer-et-utiliser-168dab11-0753-043d-7c16-ede5947fc64d" target="_blank">Gérer les cookies dans Edge</a></li>
					<li><a href="https://support.google.com/chrome/answer/95647?hl=fr&amp%3Bsjid=8271030901371314349-EU&sjid=6933573778617877818-EU" target="_blank">Gérer les cookies dans Chrome</a></li>
					<li><a href="https://support.mozilla.org/fr/kb/cookies-informations-sites-enregistrent?redirectlocale=en-US&amp%3Bredirectslug=Cookies" target="_blank">Gérer les cookies dans Firefox</a></li>
					<li><a href="https://support.apple.com/fr-fr/guide/safari/sfri11471/mac" target="_blank">Gérer les cookies dans Safari</a></li>
				</ul>

				<p>Le refus, la suppression ou la désactivation des cookies peut causer l'inaccessibilité de certaines fonctionnalités de Limo ou leur fonctionnement réduit. Cela peut affecter l'expérience utilisateur du site web.</p>

				<h3>VOUS SOUHAITEZ EN SAVOIR PLUS ?</h3>

				<p>Vous trouverez plus d'informations sur les sites web suivants, entre autres : <a href="https://allaboutcookies.org" target="_blank">allaboutcookies.org</a> et <a href="https://www.youronlinechoices.com/uk/" target="_blank">www.youronlinechoices.com</a></p>

				<p>LIBIS se réserve le droit de modifier à tout moment la présente déclaration relative aux cookies. Vous trouverez toujours la version la plus récente de la déclaration relative aux cookies sur cette page.</p>
				<md-dialog-actions>
					<div layout="row" class="demo-dialog-button">
						<md-button class="md-primary" ng-click="closeDialog()">
							Fermer</md-button>
					</div>
				</md-dialog-actions>

			</md-content>
		</md-dialog-content>
	</md-dialog>