.search-string .input-complex-rows {
    transition: color 150ms ease-in-out, background 150ms ease-in-out, border 150ms ease-in-out;
    width: 100%;
    padding: 10px 16px;
    border: 1px solid #d8d9da;
    background-color: #fff;
    color: #333;
    line-height: normal;
    border-radius: 2px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.search-string .string-block{
    line-height: 2.5;
}

prm-advanced-search .collapsed-area prm-icon{
    line-height: 0 !important;
}

prm-advanced-search .collapsed-area md-icon{
    border: 1px solid #d8d9da !important;
    background: #d8d9da !important;
    padding: 3px !important;
    margin-left: 5px !important;
}