md-dialog[aria-label="Disclaimer"] md-content {
  padding: 1em;
}

md-dialog[aria-label="Disclaimer"] md-content h3 {
  margin-top: 0.8em;
  margin-bottom: 0.3em;
}

md-dialog[aria-label="Disclaimer"] md-content table {
  width: 75%;
}

table,
th,
td {
  border: 1px double;
}

th,
td {
  padding: 20px;
}
