
<div layout="row" role="document" class="layout-row">


    <md-content class="main _md md-primoExplore-theme flex-md-30 flex-lg-25 padded-container facet-to-left layout-row flex-xl-20" style="overflow-y: hidden; display: block" layout="row">
    </md-content>

    <md-content class="main _md md-primoExplore-theme flex" flex="" ng-if="!$ctrl.parentCtrl.searchService.searchDone">
        <div class="padding-medium flex-xl-50 flex-md-50 flex-lg-50" flex-md="50" flex-lg="50" flex-xl="50" ng-class="{'flex-lgPlus-70': $ctrl.mediaQueries.lgPlus}">
        <md-card class="default-card">
            <md-card-title>
                <h2 translate="nui.journalsearch.title"></h2>
            </md-card-title> 
            <md-card-content>
                <ul>
                    <li translate="nui.journalsearch.category.option1"></li>
                    <li translate="nui.journalsearch.category.option3"></li>
                </ul>
            </md-card-content>
        </md-card>
    </div>
    </md-content>  
</div>