

{{  $ctrl.lalal }}
<div layout="row" role="document">
    <md-content layout="row" ng-if="!$ctrl.parentCtrl.searchService.searchDone">
        <md-card class="default-card">
    <md-card-title>

        <h2 translate="nui.journalsearch.title"></h2>
    </md-card-title>
    <md-card-content>
        <ul>
            <li translate="nui.journalsearch.category.option1"></li>
            <li translate="nui.journalsearch.category.option3"></li>
        </ul>
    </md-card-content>
</md-card>
</md-content>