<div id="altmetric-doi-{{$ctrl.id}}" class="altmetric-badge layout-row" ng-if="$ctrl.doi != ''">
  <div aria-label="Altmetric" class="altmetric-embed"
     ng-click="$event.stopPropagation();"
     data-link-target="_blank"
     rel="noopener"

     data-hide-no-mentions="true"
     data-badge-type="4" 
     data-badge-popover="right" 
     data-doi="{{$ctrl.doi}}">
  </div>
</div>
<div id="altmetric-isbn-{{$ctrl.id}}" class="altmetric-badge layout-row" ng-if="$ctrl.isbn != ''">
  <div aria-label="Altmetric" class="altmetric-embed"
     ng-click="$event.stopPropagation();"
     data-link-target="_blank"
     rel="noopener"
     data-hide-no-mentions="true" 
     data-badge-type="4"
     data-badge-popover="right" 
     data-isbn="{{$ctrl.isbn}}">
  </div>
</div>
