<prm-top-bar-before></prm-top-bar-before>
<div class="top-nav-bar" layout="row" flex-order="1" layout-align="start center" tabindex="0" role="navigation">
    <!-- Accesibility skip to menu -->
    <prm-skip-to tabindex="0"></prm-skip-to>
    <header class="screen-only ng-scope">
        <div class="navbar navbar--global navbar--no-padding">
            <div class="container">
                <img src="https://stijl.kuleuven.be/2016tmp/img/svg/logo.svg" style="display:none" id="logoImage">              
                <a href="https://www.kuleuven.be/" class="logo logo--small logo--floating pull--left" title="KU Leuven"></a>
                <a href="#" class="navbar__toggle navbar__toggle--btn  show--bp-med">&nbsp;</a>
            </div>
            <!-- Institution logo -->
            <!-- <prm-logo></prm-logo> -->
        </div>
        <!-- spacer -->
        <div class="flex" flex></div>

        <div class="navbar navbar--local">
            <div class="container" style="position:  relative;">
<!--
                <div class="heading--2 navbar__title navbar__title--no-margin">
                    <a href="/discovery/search?vid=32KUL_KUL:Lirias" class="ng-binding">
                        <i class="material-icons">home</i> Lirias</a>
                </div>
-->
                <div class="heading--2 navbar__title navbar__title--no-margin">
                    <a href="/discovery/search?vid=32KUL_KUL:Lirias" class="ng-binding">Lirias</a>
                </div>
                <a href="/#" class="navbar__toggle pull--left hidden--bp-med" role="button" aria-expanded="false" data-toggle="collapse"
                    data-target=".nav--tabs">Menu
                    <span class="lines"></span>
                </a>

                <div style="display:flex; justify-content:flex-end; bottom: 0; position: absolute; right: 0;">
                    <div style="padding-right:1em">
                        <prm-search-bookmark-filter class="view-switcher" layout-align="end center" layout="row" hide-sm></prm-search-bookmark-filter>
                    </div>
                    <div>
                        <prm-change-lang></prm-change-lang>
                    </div>
                </div>

                <prm-main-menu ng-if="$ctrl.showMainMenu" menu-type="menu"></prm-main-menu>

            </div>
        </div>
    </header>

</div>






















<!-- Poging ???? -->
<!--




<prm-top-bar-before></prm-top-bar-before>
<div class="top-nav-bar" layout="row" flex-order="1" layout-align="start center" tabindex="0" role="navigation">


      <nav class="global-header noindex hidden-print">
  <div class="container">
    <a class="navbar-brand" href="https://www.kuleuven.be/kuleuven/"><img class="logo" alt="logo" src="https://stijl.kuleuven.be/releases/latest/img/svg/logo.svg" width="157" height="56" /></a>
    <div class="controls">
      <a class="btn btn-ext btn-home" href="https://www.kuleuven.be/kuleuven/">KU Leuven Home</a>
      <a href="#" class="btn-toggle js-flyout-toggle flyout-toggle collapsed" role="button" aria-expanded="false" aria-controls="flyout-local-menu" data-toggle="collapse" data-target="#flyout-local-menu"><span class="lines"></span></a>
    </div>
  </div>
</nav>

      <nav class="local-header">
        <div class="container container-relative">
          <nav class="nav-header">
            <h2>

              <a href="/discovery/search?vid=32KUL_KUL:Lirias">Lirias</a>      
              <a href="#" class="btn-toggle hidden-lg-up" role="button" aria-expanded="false" data-toggle="collapse" data-target="#local-header" aria-controls="local-header"><span class="lines"></span></a>
            </h2>

            <ul class="langswitch"><ul class="langswitch">
    <li class="dropdown">
      <a href="#" id="lang-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">language</i>
        NL
        <i class="material-icons">keyboard_arrow_down</i></a>
      <ul class="dropdown-menu" aria-labelledby="lang-menu">
        <li>
          <a href="https://bib.kuleuven.be/english">English</a>
        </li>
        <li>
          <a href="#" class="active">Nederlands</a>
        </li>
      </ul>
    </li>
  </ul></ul>
          </nav>

          <nav class="nav-tabs nav-more collapse" id="local-header">
            <ul id="portal-globalnav"><li><a href="https://bib.kuleuven.be/overzicht-bibliotheken">Bibliotheken</a></li><li><a href="https://bib.kuleuven.be/onderzoek">Onderzoek</a></li><li><a href="https://bib.kuleuven.be/training-en-tutorials">Training &amp; tutorials</a></li><li><a href="https://bib.kuleuven.be/collecties-toegang-ontlenen">Collecties, toegang &amp; ontlenen</a></li><li><a href="https://bib.kuleuven.be/faciliteiten">Faciliteiten</a></li><li><a href="https://bib.kuleuven.be/over-ons">Over ons</a></li></ul>
          </nav>
        </div>
      </nav>

    </div>

    
    -->