<!--
<md-card class="default-card"> 
    <md-card-title> 
        <h2 translate="dbcategories.databases"></h2> 
    </md-card-title> 
    <md-card-content><span translate="dbcategories.description"></span> 
        <ul> 
            <li translate="dbcategories.option1"></li> 
            <li translate="dbcategories.option2"></li> 
            <li translate="dbcategories.option3"></li> 
        </ul>
    </md-card-content> 
</md-card>
-->

<md-card class="default-card"> 
    <md-card-title> 
        <h2 translate="nui.customization.dbsearch.title"></h2> 
    </md-card-title> 
    <md-card-content translate="nui.customization.dbsearch.content"></md-card-content> 
</md-card>
