<md-content layout-xs="column" layout="row" class="display-block-xs">
    <div flex-xs="100" flex="100" layout="column">
        <md-card class="default-card _md md-primoExplore-theme" id="ContentKULLOCLink">

            <md-card-content >   
                <search-carousel titleText="Test showcase" ng-if="showcaseUrl.includes('external')" searchUrl="{{showcaseUrl}}"></search-carousel>
            </md-card-content>

            <br>url: {{showcaseUrl}} 
            <br>how it should look: {{showcase}}
        </md-card>
    </div>
</md-content>