<div ng-if="nbb_urls">
  <div ng-if="lang == 'nl'">  
    <span ng-repeat="(key, value) in nbb_urls">
      <b><a href="{{value}}">Aanwinsten {{key}}</a><br>
    </lspan>
  </div>
  <div ng-if="lang == 'fr'">  
    <span ng-repeat="(key, value) in nbb_urls">
      <b><a href="{{value}}">Nouveaux médias {{key}}</a><br>
    </span>
  </div>
</div>
<div ng-if="!nbb_urls">
<p ng-if="lang == 'nl'">
  Bekijk <a href="{{url}}">hier</a> welke publicaties recent werden toegevoegd aan de catalogus
</p>
<p ng-if="lang == 'en'">
  View <a href="{{url}}">here</a> which publications have recently been added to the catalogue
</p>
<p ng-if="lang == 'fr'">
  Voir <a href="{{url}}">ici</a> les publications récemment ajoutées au catalogue
</p>
</div>