


<md-card ng-hide="!feedresults.length" class ="default-card _md md-primoExplore-theme">
<md-card-content>
 <h1 translate="nui.customization.news_feed.title"></h1>
 <md-list>
   <md-list-item ng-repeat="feed in feedresults | limitTo: maxfeeds">
      <div class ="md-list-item-text"> <a href="{{ feed.link }}" target="_news">
         <span  ng-bind-html="feed.title.$t"></span> 
         <span style="display:none">[<span  ng-bind-html="feed.updated.$t"></span>]</span>
      </a>
         <div class ="blogheaderbody" ng-bind-html="feed.content.$t" style="display:none"></div>
      </div>
   </md-list-item>
 </md-list>
</md-card-content>
</md-card>

